<h1 class=gr-header>Green Room</h1>

<p><%= link_to "Rehearsal Schedule", '/greenrooms/calender' %></p>
<p><%= link_to "Cast Shoe List", '/greenrooms/shoes' %></p>
<p><%= link_to "Tech Ready Guide", '/greenrooms/tech_ready' %> </p>
