<h1 class=gr-header>Green Room</h1>

<p><%= link_to "Rehearsal Schedule", '/pages/calender' %></p>
<p><%= link_to "Cast Shoe List", '/pages/shoes' %></p>
<p><%= link_to "Tech Ready Guide", '/pages/tech_ready' %></p>
