<h1>Audition Information</h1>

<p>Auditions are held by appointment only from 6pm-9pm on the scheduled dates.
To request an appointment please email:</p>

<p>Auditions are open to those ages 6 and up, unless otherwise noted.</p>

<p>Auditions are held at the Sumner Performing Arts Center located at:
1707 Main Street, Sumner, WA 98390</p>

<p>Bring a current headshot and resume to leave with the panel.  Prepare one song selection, no longer than one verse and one chorus (approximately 16-32 bars) of sheet music from the musical theatre canon.  Accompanist will be provided.  Accompanist will not transpose music.  No taped accompaniment or singing acapella permitted.</p>

<p>When auditioning for a non-musical production please provide a one minute monologue in lieu of a song selection.</p>

<p>Some of those that audition will be selected to return to the callback.  The callback will consist of a dance audition, and some individuals will be asked to cold-read sides and sing selections from the production.</p>

<p>Men and Women over the age of 25 are especially encouraged to audition.</p>

<p>All cast, crew and production staff are volunteers.</p>
