<p>Dear <span class="important">OLIVER!</span> Auditioner:</p>

<p>Thank you for taking the time to audition for <span class="important">OLIVER!</span> All of us on the audition committee are grateful for the time you invested in being with us to make a memorable audition presentation. Your efforts and patience are most appreciated. Due to the nature of the production and live theatre, not all that auditioned can be cast.</p>

<p>It has been an honor to have you participate in our audition process.  We hope you will consider auditioning again in the future.  Our next audition is for <span class="important">You Can't Take It With You</span> on February 12.</p>
​
<p>If you have been cast in the production please send an email to manestage@manestagetheatre.com to verify that you have viewed the cast list and will be attending the cast / parent orientation.   Orientation will be held on <span class="important">Monday, December 11 from 6:30 – 9:30 p.m. at the Sumner Performing Arts Center</span>. Unless previous arrangements have been made, cast members must attend orientation and all rehearsals or their role will be re-cast.</p>

<p>If you are unable to be a part of <span class="important">OLIVER! </span>please contact us immediately at manestage@manestagetheatre.com or (253) 447 – 7645.  Click here for the cast list for <span class="important">OLIVER! </span> We look forward to seeing you again soon!</p>
