<h1>Box Office</h1>

<p>Tickets may be purchased online, at the door or over the phone with a credit card.
Box office opens 1 hour before show time.
Doors to the seating area open 30 minutes before show time.
No children under 3 or babes in arms will be admitted.
Tickets are non-refundable.</p>

<p>ManeStage Theatre Company currently rents the Sumner Performing Arts Center for all performances and auditions.  The Sumner Performing Arts Center is attached to the Sumner High School.  Please park in the large parking lot located on the west side of the building.  Street parking is also available.</p>

<p>The Sumner Performing Arts Center
1707 Main Street
Sumner, WA 98390</p>
