<h1>Cast List</h1>


<p>OLIVER TWIST – Cole Burgi</p>
<p>FAGIN – Mike Limanni</p>
<p>THE ARTFUL DODGER – Faith Clarke</p>
<p>NANCY – Brittney Stout</p>
<p>BILL SIKES – Scott Novotny</p>
<p>MR. BUMBLE – John Kelleher</p>
<p>WIDOW CORNEY – Rebecca Maiten</p>
<p>MR. BROWNLOW – Timothy B. Lott</p>
<p>BET – Lauren Sky Gray</p>
<p>MR. SOWERBERRY/GRIMWIG/ENSEMBLE/SECOND RUNNER– Keven R. Snyder</p>
<p>MRS. SOWERBERRY/MILKMAID/DANCING ENSEMBLE – Kayli Christine</p>
<p>CHARLOTTE/GIRL/ ENSEMBLE – Sara Theriault</p>
<p>NOAH CLAYPOLE/HUSSAR LINE/DANCING ENSEMBLE –  Isaiah Stevens</p>
<p>WORKHOUSE ASSISTANT/DANCING ENSEMBLE/MRS. BEDWIN – Christina Michalk</p>
<p>WORKHOUSE ASSISTANT/DANCING ENSEMBLE/ROSE SELLER – Jessica Ziegelbauer</p>
<p>WORKHOUSE ASSISTANT/STRAWBERRY SELLER/MATRON – Sarah Tweet</p>
<p>WORKHOUSE ASSISTANT/OLD SALLY – Kim Myers</p>
<p>WORKHOUSE ASSISTANT/ENSEMBLE – Kristy Olson</p>
<p>WORKHOUSE BOY/FAGIN’S GANG (Charley Bates) – Ian Bartlett</p>
<p>WORKHOUSE BOY/FAGIN’S GANG (Nipper) – Faith Young</p>
<p>WORKHOUSE BOY/ FAGIN’S GANG (Gang Boy Solos) – Visesia Fakatoufifita</p>
<p>WORKHOUSE BOYS/FAGIN’S GANG – Roslyn Addy, Madi Bauer,
Noelle Dawson, Jack Elwell, Molli Elwell, Summer Mays</p>
<p>FAGIN’S GANG –  Gavin Bonham, Maverick McCarl (Captain)
WORKHOUSE BOYS/ENSEMBLE – Kendall Bonham, Kyle North,
Kaden Stanford (Book Boy), Reuben Tweet</p>
<p>DANCING ENSEMBLE/CHAIRMAN/FIRST RUNNER – Seth Remington</p>
<p>DANCING ENSEMBLE/SECOND WOMAN/LAMPLIGHTER – Jordyn Konopaski</p>
<p>DANCING ENSEMBLE/KNIFE GRINDER/FIRST MAN – Luke Pederson</p>
<p>FIRST WOMAN/MAID/ENSEMBLE – Jaclyn Baker</p>
<p>DANCING ENSEMBLE – Lisa Kelley, Aubrey Mangle, Bethany Olson, Elise Young
ENSEMBLE – Isabelle Tweet, Juliana Tweet</p>
