<h1>Character Breakdown</h1>

<p>*All roles require British or Cockney accents</p>
​
<p>OLIVER TWIST – A workhouse boy.  (Unchanged Voice, Age Range 8-12)</p>
​
<p>FAGIN – An elderly receiver, runs training academy for young pickpockets.   (Baritone, Playable Age 50+)</p>
​
<p>THE ARTFUL DODGER – Fagin’s brightest pupil.  (Tenor, Age Range 14-18)</p>
​
<p>BILL SYKES – A villain in his prime. (Baritone, Age Range 30-45)</p>

<p>​NANCY – A graduate of Fagin’s academy and Bill’s doxy. (Alto/Mezzo, Playable Age 23)</p>
​
<p>BET – A lass in Fagin’s establishment.  Idolizes Nancy.  (Mezzo, Age Range 14-18)</p>
​
<p>MR. BUMBLE – A large and pompous Beadle of the workhouse. (Tenor, Age Range 35-60)</p>
​
<p>MRS. CORNEY – A sharp-tongued domineering widow.  The mistress of the Workhouse.  (Soprano, Age Range 35-55)</p>
​
<p>MR. BROWNLOW – An old gentlemen of wealth and breeding.  (Age Range 50+)</p>
​
<p>MR. SOWERBERRY– The undertaker (Baritone, Age Range 30-50)</p>

<p>MRS. SOWERBERRY – Mr. Sowerberry’s wife and his overseer.  (Mezzo, Age Range 30-50)</p>
​
<p>CHARLOTTE - The Sowerberry’s sleazy young daughter. (Age Range 18-25)</p>
​
<p>NOAH CLAYPOLE – Mr. Sowerberry’s young apprentice. (Age Range 18-25)</p>
​
<p>MR. GRIMWIG – A doctor. (Age Range 30-50)</p>
​
<p>MRS. BEDWIN – The Brownlow’s Housekeeper (Mezzo, Age Range 45-60)</p>
​
<p>OLD SALLY – A pauper. (Age Range 50+)</p>
​
<p>CHARLEY BATE’S – A boy in Fagin’s establishment. (Alto/Tenor, Age Range 10-18)</p>
​
<h6>ENSEMBLE</h6>
<p>Workhouse boys, workhouse assistants, Fagin’s gang, Bow streetrunners, street vendors, crowd, etc. Solos and speaking lines for many ensemble roles.  Strong dancers with Jazz, Ballet and partnering experience also needed. (Children and Adults Ages 8+, Male and Female, strong singer/dancers
and strong singer/movers)</p>
