<h1>Education</h1>


<div class="row">
  <div class="col-md-7">
    <%= image_tag "EDU.png" %>
  </div>
  <div class="col-md-5">
    <a href="https://docs.wixstatic.com/ugd/74ee78_07e37ff27824469cab8eb93152ed8e6a.pdf">PDF</a>
  </div>
</div>
