<h1 class="header">Education</h1>

<div class="center">
  <p>Suessical Winter Camp is now available for signups. <a href="https://docs.wixstatic.com/ugd/74ee78_07e37ff27824469cab8eb93152ed8e6a.pdf" class="fa fa-file-pdf-o fa-2x"></a></p>
  <%= image_tag "EDU.png", id: "edu-image" %>
</div>
