<h1>Theatre Etiquette</h1>

<p>Please no food or drink in the theatre seating area.
Please arrive on time.  Late arrivals are disruptive to fellow patrons and to the artists onstage.  Patrons arriving late will be seated at a suitable pause in the performance at the
House Manager's discretion.</p>
<p>Please turn off all cellular phones before entering the theatre.  No text messaging or use of cell phones is permitted during the production.  No photography, video or sound recording is allowed due to copyright laws.
In intimate auditoriums like the Sumner Performing Arts Center, talking and unwrapping cough drops are disruptive to patrons and even the actors can hear these seemingly small noises.</p>

<p>Please escort disruptive children out of the theatre.</p>

<p>Please no shoes with flashing lights as they are very distracting to fellow patrons and the actors in the dark theatre.</p>

<p>Please use the restroom before the performance begins or at intermission.  Do not leave the theatre auditorium during the production.</p>

<p>Please use moderation in applying perfume, cologne or lotion as many people
are allergic to scents.</p>

<p>All of our artists are volunteers.  Your focus, applause and laughter are greatly appreciated!
In consideration of your fellow patrons and the actors, please do not leave the performance
during the curtain call.</p>
