<h1>Location</h1>

<div class="location">
  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Manestage%20Theatre%20Company&key=AIzaSyDqTA8vlmU9pr4klX9tRPvRem6r7yz-Jgw" allowfullscreen></iframe>
</div>
