<h1>Season Tickets</h1>

<div class="row">
  <div class="col-md-2">
    <p>Packages:</p>
    <p>5 Show Package:</p>
    <p>4 Show Package:</p>
  </div>
  <div class="col-md-2">
    <p>General</p>
    <p>$105.00</p>
    <p>$85.00</p>
  </div>
  <div class="col-md-2">
    <p>Senior/Student/Military</p>
    <p>$84.00</p>
    <p>$68.00</p>
  </div>
  <div class="col-md-2">
    <p>Child (12 and under)</p>
    <p>$63.00</p>
    <p>$51.00</p>
  </div>
</div>
