<h1>Volunteer</h1>

<p>ManeStage Theatre Company is only possible due to our family of volunteers,
who play an integral part in our non-profit organization.We are always looking for dependable individuals to share their talents with us both on the stage and behind the scenes.</p>

<p>If you are interested in volunteering, please contact the individuals below:</p>
