<h1>Volunteer</h1>

<p>ManeStage Theatre Company is only possible due to our family of volunteers,
who play an integral part in our non-profit organization.We are always looking for dependable individuals to share their talents with us both on the stage and behind the scenes.</p>

<p>If you are interested in volunteering, please contact the individuals below:</p>

<div class="row">
  <div class="col-md-3">
    <div class="well volunteer">
      <h4 class="fun-font">Front of House</h4>
      <div class="list">
        <p>Usher</p>
        <p>Ticket Taker</p>
        <p>Will Call</p>
        <p>Raffle Ticket</p>
      </div>
      <hr>

      <h4>Evan Hildebrand</h4>
      <p>Front of House Volunteer Coordinator</p>
      <p><a href="mailto:volunteer@manestagetheatre.com?Subject=Front%20of%20House%20Volunteer" target="_top">volunteer@manestagetheatre.com</a></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well volunteer">
      <h4 class="fun-font">Costumes</h4>
      <div class="list">
        <p>Assistant Costumer</p>
        <p>Seamstress</p>
        <p>Hair and Makeup Assistant</p>
        <p>Clothing and hat donations</p>
      </div>
      <hr>

      <h4>Judy Brooks</h4>
      <p>Senior Resident Costumer</p>
      <p><a href="mailto:judy@manestagetheatre.com?Subject=Costumer%20Volunteer" target="_top">judy@manestagetheatre.com</a></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well volunteer">
      <h4 class="fun-font">Behind the Scenes</h4>
      <div class="list">
        <p>Set Building</p>
        <p>Painting</p>
        <p>Stage Crew</p>
      </div>
      <hr id="breaker">
      <h4>Jay Henson</h4>
      <p>Technical Director</p>
      <p><a href="mailto:jay@manestagetheatre.com?Subject=Behind%20the%20Scenes%20Volunteer" target="_top">jay@manestagetheatre.com</a></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well volunteer">
      <h4 class="fun-font">Music</h4>
      <div class="list">
        <p>Assistant Music Director</p>
        <p>Orchestr Musician</p>
      </div>
      <hr id="breaker2">
      <h4>Daniel Schreiner</h4>
      <p>Music Supervisor</p>
      <p><a href="mailto:daniel@manestagetheatre.com?Subject=Music%20the%20Volunteer" target="_top">daniel@manestagetheatre.com</a></p>
    </div>
  </div>
</div>
