<h1>Volunteer</h1>

<div class="email-form">
  <form method="POST" action="http://formspree.io/meganannetteolson@yahoo.com">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" name="name" placeholder="Your name" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Your email" class="form-control">
    </div>
    <div class="form-group">
      <label for="message">Message Content:</label>
      <textarea name="message" placeholder="Your message" class="form-control" rows="10"></textarea>
    </div>
    <button type="submit" class="btn-info">Send</button>
  </form>
</div>
