@import "bootstrap-sprockets";
@import "bootstrap";

.dropdown {
  position: relative;
}

.important {
  font-weight: bold;
}

.gr-header {
  text-align: center;
}

.calendar {
  text-align: center;
}

.email-form {
  width: 50%;
}

.width-100 {
  width: 100%;
}

#myCarousel {
  width: 80%;
}
