@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-bottom: 50px;
}

.dropdown {
  position: relative;
}

.important {
  font-weight: bold;
}

.gr-header {
  text-align: center;
}

.calendar {
  text-align: center;
}

.email-form {
  width: 50%;
}

.width-100 {
  width: 100%;
}

#myCarousel {
  width: 80%;
  margin-left: 10%;
}

.nav-image {
  margin-top: 20px;
  width: 300px;
}

.pics {
  display: flex;
  justify-content: space-between;
}
